<div class="menu">
    <div class="menu__nav">
        <div class="menu__nav-main" id="nav">
            {{#foreach navigation}}
            <div class="menu__item menu__nav-item">
                <a href={{url absolute="true" }}>
                    <p class="menu__text">{{label}}</p>
                </a>
            </div>
            {{/foreach}}
            <div class="menu__item menu--dark-mode" id="darkMode">
                <i class="menu__icon material-icons md-24">brightness_low</i>
                <p class="menu__text">Dark Mode</p>
            </div>
        </div>
        <div class="menu__item menu--permanent-icon" id="search">
            <i class="menu__icon material-icons md-24">search</i>
            <input type="text" id="search-query" class="menu__search-input"></input>
        </div>
    </div>
</div>