<div class="menu">
    {{#foreach navigation}}
    <div class="menu__item">
        <a href={{url absolute="true" }}>
            <p class="menu__text">{{label}}</p>
        </a>
    </div>
    {{/foreach}}
</div>