<div class="menu">
    {{#foreach navigation}}
    <div class="menu__item">
        <a href={{url absolute="true" }}>
            <p class="menu__text">{{label}}</p>
        </a>
    </div>
    {{/foreach}}

    <div class="menu__item" id="darkMode">
        <i class="material-icons md-24">brightness_low</i>
        <p class="menu__text">Dark Mode</p>
    </div>
</div>