  <div class="index-navbar">
    <div class="site-background">
      {{> site-background }}
      </div>
    </div>
    <header class="flex flex-col w-full relative py-0">
      <div class="site-title">
        <div id="menushow" class="py-2">
          <span class="h-12 w-12 px-2 py-3 text-white material-icons" alt="menu">menu</span>
        </div>
        <div class="site-head">
          <a href="{{@site.url}}" class="block flex flex-col flex-grow">
            <div class="">
              <h1 class="text-lg text-white">{{@site.title}}</h1>
            </div>
          </a>
        </div>
      </div>
      <div class="nav-group">
        {{navigation}}
      </div>
    </header>
  </div>
</div>
