{{> "site-background"}}
<div class="site-header">
  <div class="site-header__background responsive-site-header-img">
  </div>
  <div class="site-header__inner">
    <header class="header">
      <div class="header__top">
        <div class="header__nav-button">
          <span class="header__icon material-icons" alt="menu" id="menushow">menu</span>
        </div>
        <div class="header__title">
          <a href="/">
            <h1>{{@site.title}}</h1>
          </a>
        </div>
      </div>
      {{navigation}}
    </header>
  </div>
</div>