{{> "site-background"}}
<div class="site-header">
  <div class="site-header__background responsive-site-header-img">
  </div>
  <div class="site-header__inner">
    <header class="header">
      <div class="header__top">
        <a class="header__title" href="/">
          {{@site.title}}
        </a>
        <div class="header__nav-button" id="menushow">
          <span class="header__icon material-icons" alt="menu">menu</span>
          <p class="header__nav-button-text">Menu</p>
        </div>
      </div>
      {{navigation}}
    </header>
  </div>
</div>