{{!< default}} {{> header-background background=@site.cover_image}}

  <div class="page-header">
    <div class="page-header__background responsive-header-img">
      <div class="page-header__overlay"></div>
    </div>
    <div class="page-header__contents">
      <div class="container mx-auto main">
        <h1>{{statusCode}}</h1>
        <p>{{message}}</p>
      </div>
    </div>
  </div>