{{!< default}}
<div class="h-64 relative index-header">
  {{> header-background background=@site.cover_image}} {{!--Special header-image.hbs partial to generate the background image--}}
    <div class="h-full opacity-50 bg-black">
    </div>
  </div>
  <div class="w-full flex flex-row justify-begin items-center absolute top-0 index-navbar">
    {{> "site-header"}}
  </div>
</div>

<div class="container px-2 md:px-12 my-6 flex flex-wrap justify-between mx-auto post-feed content">
{{#foreach posts}}
  {{> "post-card"}}
{{/foreach}}
</div>

{{#contentFor "scripts"}}
{{/contentFor}}
