{{!< default}} {{#post}} <div class="relative group index-header">

  {{> header-background background=feature_image}}
  <div class="page-header">
    <div class="page-header__background responsive-header-img">
      <div class="page-header__overlay"></div>
    </div>
    <div class="page-header__contents">
      <div class="post-header container mx-auto main">
        <h1 class="page-header__heading">{{title}}</h1>
      </div>
    </div>
  </div>

  <main id="post" class="container mx-auto main">
    {{content}}
  </main>

  {{/post}}
  {{#contentFor "scripts"}}
  <script>
  </script>
  {{/contentFor}}