{{!< default}} {{#tag}} {{> header-background background=feature_image}}
  <div class="page-header">
    <div class="page-header__background responsive-header-img">
      <div class="page-header__overlay"></div>
    </div>
    <div class="page-header__contents">
      <div class="post-header container mx-auto main">
        <p>
          <span class="post-header__tag-name">Tag</span>
        </p>
        <div class="post-header__tag-heading">
          {{#if accent_color}}
          <span class="post-header__tag-heading-color" style="background-color: {{accent_color}};"></span>
          {{else}}
          <span class="post-header__tag-heading-color"></span>
          {{/if}}
          <h1>
            {{name}}
          </h1>
        </div>
        <p>{{description}}</p>
      </div>
    </div>
  </div>
  {{/tag}}

  <main class="post-list container mx-auto">
    {{#foreach posts}}
    {{> "post-card"}}
    {{/foreach}}
  </main>

  {{#contentFor "scripts"}}
  {{/contentFor}}