{{!< default}}

{{#tag}}
{{> "site-header"}}
<div class="relative group index-header">
  {{> header-background background=feature_image}} {{!--Special header-image.hbs partial to generate the background image--}}
    <div class="w-full h-full opacity-50 bg-black">
    </div>
  </div>
  <div class="absolute bottom-0 py-6 h-full left-0 right-0">
   <div class="container mx-auto content-full h-full flex flex-col justify-end items-begin">
    <div class="my-2">
      <span class="tag-header">Tag</span>
    </div>
    <div>
      <h1 class="text-white text-2xl md:text-4xl">{{name}}</h1>
    </div>
    <div class="text-white">
      {{#if description}}
      <p>{{description}}</p>
      {{else}}
      <p>A collection of {{plural ../pagination.total empty='posts' singular='% post' plural='% posts'}}</p>
      {{/if}}
    </div>
   </div>
  </div>
</div>
{{/tag}}

<div class="flex flex-wrap justify-start post-feed content w-full px-2">
  {{#foreach posts}}
    {{> "post-card"}}
  {{/foreach}}
</div>
